@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Lato", sans-serif;
}

/* Used in form inputs */
.width50 {
  width: 50vw;
}
/* Remove outline for all buttons */
button:focus {
  outline: 0;
}
/* Modal overlay */
.mobile-menu-overlay {
  background-color: rgb(26, 32, 44, 0.5);
}
.mobile-menu-content {
  max-height: 90%;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

.active {
  color: yellow;
}
